<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>重建大蓝书</h1>
    <p>计划到年底前重建大蓝书（2020-11-28 - 2020-12-31），目标是恢复<strong>日活1000IP</strong></p>
  </body>
</html>
