<!DOCTYPE html>
<html>
  <head>
    <title>大蓝书</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>正在登录...</h1>
    <script>
      var url = 'https://businessonwechat.com/gzh/login?dest=dlsarticles'
      window.location.replace(url)
    </script>
  </body>
</html>
